.fileList {
    width: 100%;
    overflow: hidden;
    position: relative;
    
    --main-font-size: 18px;
    --light-font-weight: 400;

    /* Colors */
    --card-background-light: #c2c1c1;
    --hover-color-light: #a3a3a3;
    --file-card-selected-light: #858585;
    --text-color-light: #333333;

    --selected-color: #8Ab9ee;
    
    --card-background-dark: #333333;
    --hover-color-dark: #616161;
    --file-card-selected-dark: #717171;
    --text-color-dark: #f5f5f5;
  }

  .fileItemsHorizontal {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 10px 40px; /* Add padding for the scroll button overlap */
    width: 100%;
  }
  
  .fileItemsDefault {
    display: block;
    list-style-type: none;
    padding: 0;
  }
  
  .fileItem {
    position: relative;
    flex: 0 0 120px; /* Fixed width to maintain size */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--card-background-light);
    border-radius: 8px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
    font-family: "Darker Grotesque";
  }

  .fileItem img {
    border-radius: 6px;
  }
  
  /* Selected file with blue background */
  .fileItem.selected {
    background-color: var(--selected-color) !important; /* Light blue */
    position: relative;
  }

  .fileBlock {
    padding: 10px;
    font-size: var(--main-font-size);
    text-align: center;
    color: #555;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
  }

  .fileItem p {
    margin: 0;
    margin-top: 4px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    vertical-align: text-bottom;
    font-size: var(--main-font-size);
    color: var(--text-color-light);
  }

  /* Checkbox styling */
  .fileCheckbox {
    transform: scale(1.2);
    cursor: pointer;
  }

  .checkboxContainer {
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 1;
  }
  
  .fileThumbnail {
    width: 100px;
    min-height: 100px;
    max-height: fit-content;
    border-radius: 4px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  /* Checkbox styling */
  .fileCheckboxThumbnail {
    position: absolute;
    top: 8px;
    right: 8px;
    transform: scale(1.2);
    cursor: pointer;
  }

  /* ====================================
  Styling for the table for default view.
  ==================================== */ 

  .fileTable {
    width: 97.45%;
    border-collapse: separate;
    border-spacing: 0 0.4em;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--text-color-light);
  }
  
  .fileTable th, .fileTable td {
    padding: 10px;
    text-align: left;
  }
  
  .fileTable th {
    background-color: var(--card-background-light);
    font-weight: bold;
    min-width: 100px;
    height: 45px;
    font-size: 22px;
  }

  .sortable-header {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .ascDesImg {        /* cant seem to get this inline w/ text */
    width: 20px;
    height: 20px;
    margin-left: 5px;
    filter: brightness(0) invert(1);
  }

  .fileRow {
    background-color: var(--card-background-light);
    overflow: hidden; /* Prevent content from spilling */
    display: table-row;
    transition: background-color 0.2s;
    padding: 5px;
    position: relative;
  }
  
  .fileCell:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .fileRow:hover {
    background-color: var(--hover-color-light);
  }

  .fileRow.selected {
    background-color: var(--selected-color) !important;
  }

  .fileCell {
    padding: 5px 5px; /* Padding within each cell */
    border: none; /* No borders between cells */
    display: table-cell;
    font-size: var(--main-font-size);
    font-family: "Darker Grotesque";
    cursor: default;
  }

  .fileCell.checkbox {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 10px; /* Adjust as needed */
  }
  
  /* .userDisplayName,
  .uploadTimeStamp {
    color: #555;
  } */

  /* Inset file name box in table entry */
  .fileNameBox {
    padding: 6px 8px;
    /* background-color: var(--card-background-light); */
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .fileNameBox:hover {
    background-color: var(--file-card-selected-light);
    border-color: var(--card-background-light);
  }

  .fileNameBox.selected:hover {
    background-color: #8ba5b1;
  }
  
  /* Scroll and Edge containers for horizontal display */

  .scrollContainer {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  /* Scroll buttons */
  .scrollButton {
    background-color: #627d9f;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    z-index: 2;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .scrollButton.left {
    left: 10px;
  }
  
  .scrollButton.right {
    right: 10px;
  }
  
  .scrollButton:hover {
    background-color: #4e6784;
  }

  /* Edge fading effect */
  .edgeFade {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    background: linear-gradient(to left, transparent, var(--edge-fade-color,rgba(0, 0, 0, 0.9)));
    pointer-events: none;
  }
  
  .edgeFade.left {
    left: 0;
  }
  
  .edgeFade.right {
    right: 0;
    background: linear-gradient(to right, transparent, var(--edge-fade-color,rgba(0, 0, 0, 0.9)));
  }

  .deleteButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #e74c3c; /* Red color */
    font-size: 1.2em;
    padding: 0;
    margin-left: 10px;
    transition: color 0.2s ease;
  }
  
  .deleteButton:hover {
    color: #c0392b; /* Darker red on hover */
  }
  
  .trashIcon {
    pointer-events: none; /* Ensure the icon doesn't capture click events */
  }
  
  /* Adjustments for the table cell */
  .actions {
    text-align: center;
  }
  
  .fileItem .deleteButton {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .search {
    font-size: var(--main-font-size);
    background-color: #e0e0e0;
    font-family: "Darker Grotesque";
  }

  .fileGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(112px, 1fr));
    gap: 15px;
    padding: 10px;
  }