@font-face {
    font-family: 'Darker Grotesque';
    src: url('../fonts/DarkerGrotesque-Black.ttf') format('truetype');
    font-style: normal;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-left: 2%;
    padding-right: 2%;
}

.home {
    display: flex;
    align-items: center;
    font-family: 'Darker Grotesque';
    color: #1f3c53;
    font-weight: 800;
    font-size: 40px;
}

.cloudIcon {
    margin-right: 12px;
    height: 32px;
    width: 32px;
}

.cloudIcon:hover {
    color: #627d9f;
}

.topButtons {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-left: 20px;
    font-family: 'Darker Grotesque';
    font-weight: 800;
    font-size: 20px;
    color: #1f3c53;
}

.topButtons:hover {
    color: #627d9f;
}

.userContainer {
    padding-top: 15px;
}

.createUser {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f3c53;
    font-family: 'Darker Grotesque';
    font-weight: 800;
    font-size: 20px;
    height: 40px;
    width: 170px;
    border-radius: 25px;
}

.createUser:hover,
.faqButton:hover,
.aiButton:hover {
    background-color: #627d9f;
}

.profileHome {
    justify-self: end;
}

.profileIconHome {
    height: 33px;
    width: 33px;
    color: #fff;
    cursor: pointer;
    color: #1f3c53;
    justify-content: center;
    align-items: center;
}
.profileIconHome:hover {
    color: #627d9f;
}

.motto {
    color: #000000;
    font-family: 'Darker Grotesque';
    font-weight: 800;
    font-size: 120px;
    padding-left: 7%;
}

.description {
    color: #1f3c53;
    font-family: 'Darker Grotesque';
    font-size: 25px;
    padding-left: 7%;
    padding-top: 1%;
}

.bottomButtons {
    display: flex;
    padding-left: 7%;
    padding-top: 5%;
}

.faqButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5%;
    margin-right: 5%;
    background-color: #1f3c53;
    font-family: 'Darker Grotesque';
    font-weight: 800;
    font-size: 20px;
    height: 40px;
    width: 100px;
    border-radius: 25px;
}
