@font-face {
    font-family: 'Darker Grotesque';
    src: url('../fonts/DarkerGrotesque-Black.ttf') format('truetype');
    font-style: normal;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-left: 2%;
    padding-right: 2%;
}

.home {
    display: flex;
    align-items: center;
    font-family: "Darker Grotesque";
    color: #1F3C53;
    font-weight: 800;
    font-size: 40px;
}

.cloudIcon {
    margin-right: 12px;
    height: 35px;
    width: 35px;
}

.topButtons {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-left: 20px;
    font-family: "Darker Grotesque";
    font-weight: 800;
    font-size: 20px;
    color: #1F3C53;
}

.topButtons:hover {
    color: #627D9F;
}

.userContainer {
    padding-top: 15px;;
}
.createUser {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F3C53;
    font-family: "Darker Grotesque";
    font-weight: 800;
    font-size: 20px;
    height: 40px;
    width: 170px;
    border-radius: 25px;
}

.createUser:hover, .faqButton:hover, .aiButton:hover {
    background-color: #627D9F;
}

.motto {
    color: #000000;
    font-family: "Darker Grotesque";
    font-weight: 800;
    font-size: 120px;
    padding-left: 7%;
}

.description {
    color: #1F3C53;
    font-family: "Darker Grotesque";
    font-size: 25px;
    padding-left: 7%;
    padding-top: 1%;
}

.bottomButtons {
    display: flex;
    padding-left: 7%;
    padding-top: 5%;
}

.faqButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5%;
    margin-right: 5%;
    background-color: #1F3C53;
    font-family: "Darker Grotesque";
    font-weight: 800;
    font-size: 20px;
    height: 40px;
    width: 100px;
    border-radius: 25px;
}

.aiButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5%;
    background-color: #1F3C53;
    font-family: "Darker Grotesque";
    font-weight: 100;
    font-size: 20px;
    height: 40px;
    width: 170px;
    border-radius: 25px;
}
