body {
    background-color: #e3e3e3;
    font-family: "Darker Grotesque", sans-serif;
    margin: 0;
    font-size: 15px; /* Reduced the base font size */
}

.profile-container {
    padding: 25px; /* Reduced padding */
    background: linear-gradient(10deg, #627D9F 20%, #1F3C53 74%);
    border-radius: 10px;
    color: #ffffff;
    max-width: 850px; /* Reduced max-width */
    margin: 50px auto; /* Slightly reduced margin */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); /* Adjusted shadow */
}

h1, h2, h3 {
    color: #ffffff;
    font-weight: 800;
    margin-bottom: 12px; /* Reduced margin */
    font-size: 1.8em; /* Reduced font size */
}

ul {
    list-style: none;
    padding: 0;
    margin: 12px 0; /* Reduced margin */
}

li {
    background-color: #ffffff;
    color: #1F3C53;
    padding: 12px; /* Reduced padding */
    border-radius: 5px;
    margin-bottom: 8px; /* Reduced margin */
    font-weight: 600;
    font-size: 1em; /* Reduced font size */
}

button {
    font-weight: 800;
    background-color: #627D9F;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px; /* Reduced padding */
    font-size: 1em; /* Reduced font size */
    cursor: pointer;
    margin-right: 12px; /* Reduced margin */
    margin-top: 16px; /* Reduced margin */
}

button:hover {
    background-color: #4b617b;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Keep the same structure */
    align-items: center; /* Vertically center the items in each grid cell */
    width: 100%; /* Ensure the header spans the full width of the page */
    align-items: center;
    background: linear-gradient(to right, #627d9f 10%, #1f3c53 100%);
    justify-content: space-between;
    height: 60px; /* Reduced height */
    padding-left: 1.7%; /* Slightly reduced padding */
    padding-right: 1.7%;
}
