.uploadContainer {
    position: relative;
    display: inline-block;
    padding-left: 5%;
}

.pillUploadButton {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--button-blue);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Darker Grotesque';
    font-size: 20px;
}

.pillUploadButton:hover {
    background-color: var(--button-blue-hover);
}

.hiddenButton {
    visibility: hidden;
}

.uploadCard {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    padding: 20px 25px;
    background-color: #e3e3e3;
    border: 1px solid #cdd4df;
    border-radius: 8px;
    width: 300px;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    font-family: 'Darker Grotesque SemiBold', sans-serif;
    font-size: var(--default-font-size);
    color: #3d4d63;
}

.uploadCard input[type='file'],
.uploadCard select,
.uploadCard button {
    background-color: #f7f9fc;
    color: #3d4d63;
    padding: 8px 16px;
    border: 1px solid #cdd4df;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    font-size: 0.9em;
    height: 45px;
}

.uploadCard select {
    font-family: 'Darker Grotesque SemiBold', sans-serif;
    font-size: var(--default-font-size);
}

.uploadCard button {
    background-color: #4caf50;
    color: white;
    font-size: 1em;
}

.uploadCard button:hover {
    background-color: #429944;
}
