.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right, #627d9f 10%, #1f3c53 100%);
    justify-content: space-between;
    height: 70px;
    padding-left: 2%;
    padding-right: 2%;
}

.home {
    display: flex;
    align-items: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 800;
    font-size: 45px;
    gap: 12px;
    color: #fff;
}

.cloudIcon {
    height: 35px;
    width: 35px;
    color: #fff;
}

.department {
    text-align: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: var(--text-color-dark);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.profile {
    justify-self: end;
}

.profileIcon {
    height: 25px;
    width: 25px;
    color: #fff;
    cursor: pointer;
}
