/* components/header.module.css */

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Create 3 columns: 1st and 3rd for spacing, middle for centering */
    align-items: center; /* Vertically center the items in each grid cell */
    width: 100%; /* Ensure the header spans the full width of the page */
    background: linear-gradient(to right, #627d9f 10%, #1f3c53 100%);
    justify-content: space-between;
    height: 70px;
    padding-left: 2%;
    padding-right: 2%;
}

.home {
    display: flex;
    align-items: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 800;
    font-size: 45px;
    gap: 12px;
    color: #fff; /* Ensure text is visible against the background */
}

.cloudIcon {
    height: 35px;
    width: 35px;
    color: #fff; /* Icon color */
}

.department {
    text-align: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: var(--text-color-dark); /* Ensure this variable is defined */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adds shadow for depth */
}

.profile {
    justify-self: end;
}

.profileIcon {
    height: 25px;
    width: 25px;
    color: #fff; /* Icon color */
    cursor: pointer; /* Indicate it's clickable */
}
