.fileItem {
    position: relative;
    flex: 0 0 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--card-background-light);
    border-radius: 8px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
    font-family: 'Darker Grotesque';
}

.fileItem:hover {
    background-color: var(--hover-color-light);
}

.fileItem p {
    margin: 0;
    margin-top: 4px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    vertical-align: text-bottom;
    font-size: var(--main-font-size);
    color: var(--text-color-light);
}

.selected {
    background-color: var(--selected-color) !important;
    position: relative;
}

.fileCheckbox {
    transform: scale(1.2);
    cursor: pointer;
}

.fileThumbnail {
    width: 100px;
    min-height: 100px;
    max-height: 120px;
    border-radius: 4px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.fileCheckboxThumbnail {
    position: absolute;
    top: 8px;
    right: 8px;
    transform: scale(1.2);
    cursor: pointer;
}

.fileItem .star {
    position: absolute;
    color: #dab500;
    top: 5px;
    left: 5px;
    border: 1px;
    border-color: rgba(0, 0, 0, 0.2);
}
