.fileList {
    width: 100%;
    overflow: hidden;
    position: relative;

    --main-font-size: var(--default-font-size);
    --light-font-weight: 400;
}

.fileItemsDefault {
    display: block;
    list-style-type: none;
    padding: 0;
}

.fileItem img {
    border-radius: 6px;
}

.fileBlock {
    padding: 10px;
    font-size: var(--main-font-size);
    text-align: center;
    color: #555;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.checkboxContainer {
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 1;
}

.fileTable {
    width: 97.45%;
    border-collapse: separate;
    border-spacing: 0 0.4em;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--text-color-light);
}

.fileTable th,
.fileTable td {
    padding: 10px;
    text-align: left;
}

.fileTable th {
    background-color: var(--card-background-light);
    font-weight: bold;
    min-width: 100px;
    height: 45px;
    font-size: 22px;
}

.fileTable th a {
    cursor: pointer;
}

.sortableHeader {
    display: inline-flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.fileRow {
    background-color: var(--card-background-light);
    overflow: hidden;
    display: table-row;
    transition: background-color 0.2s;
    padding: 5px;
    position: relative;
}

.fileRow:hover {
    background-color: var(--hover-color-light);
}

.fileRow.selected {
    background-color: var(--selected-color) !important;
}

.fileCell {
    padding: 5px 5px;
    border: none;
    display: table-cell;
    font-size: var(--main-font-size);
    font-family: 'Darker Grotesque';
    cursor: default;
}

.fileCell:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.fileCell:last-child {
    text-align: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.fileNameBox {
    padding: 6px 8px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s;
}

.fileNameBox:hover {
    background-color: var(--file-card-selected-light);
    border-color: var(--card-background-light);
}

.fileNameBox.selected:hover {
    background-color: #8ba5b1;
}

.scrollContainer {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.scrollButton {
    background-color: #627d9f;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    z-index: 2;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scrollButton.left {
    left: 10px;
}

.scrollButton.right {
    right: 10px;
}

.scrollButton:hover {
    background-color: #4e6784;
}

.edgeFade {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    background: linear-gradient(
        to left,
        transparent,
        var(--edge-fade-color, rgba(0, 0, 0, 0.9))
    );
    pointer-events: none;
}

.edgeFade.left {
    left: 0;
}

.edgeFade.right {
    right: 0;
    background: linear-gradient(
        to right,
        transparent,
        var(--edge-fade-color, rgba(0, 0, 0, 0.9))
    );
}

.trashIcon {
    pointer-events: none;
    margin: auto;
    display: block;
}

.actions {
    text-align: center;
}

.search {
    font-size: var(--main-font-size);
    color: var(--text-color-light);
    font-family: 'Darker Grotesque';
    padding: 5px 10px;
    border: 1px solid #cdd4df;
    border-radius: 5px;
    background-color: #efefef;
}

.search:focus {
    outline: none;
    border-color: #555;
}

.fileGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(112px, 1fr));
    gap: 15px;
    padding: 10px;
}

.topButtons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.deleteButtonTop {
    padding: 8px 12px 8px 12px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--button-red);
    color: white;
    cursor: pointer;
}

.deleteButtonTop:hover {
    background-color: var(--button-red-hover);
}

.deleteButtonTop:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.shareButton {
    background-color: var(--button-blue);
    color: var(--text-color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Darker Grotesque';
    font-weight: 800;
    font-size: 20px;
    height: 40px;
    width: 100px;
    border-radius: 25px;
}

.shareButton:hover {
    background-color: var(--button-blue-hover);
}

.shareButton:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.viewToggleButtons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.viewButton {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background-color: var(--button-blue);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

.viewButton:hover {
    background-color: var(--button-blue-hover);
}

.viewButton:disabled {
    display: none;
}
